@use "./mediaQueries.scss";

.form {
  margin: 0 auto;
  width: 80vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 25px;
}

.form * {
  display: block;
  background: hsl(0, 0%, calc(var(--lightness) + 20%));
  color: var(--fontColor);
  font-size: 1.1em;
  border: 0;
  border-radius: 20px;
  outline-style: none;
  padding: 2% 3%;

  transition: border 75ms ease-in;
}

.form *::placeholder {
  color: var(--placeholderColor);
}

.form *:focus {
  box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid hsl(0, 0%, calc(var(--lightness) + 10%));
}

.form--input {
  margin: 0 auto;
  width: 80%;
  justify-self: flex-start;
}

.form--textarea {
  width: 80%;
  resize: none;
}

.form--button {
  cursor: pointer;
  padding: 3% 4%;
  margin: 0 auto;

  transition: background 300ms ease-in;
}

.form--button:hover {
  background: hsl(0, 0%, calc(var(--lightness) + 25%));
}
